.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0 , 0 , 0.1);
}
.navbar_logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
}
.navbar_menu {
    display: flex;
    gap: 1.2rem;
}
.navbar_menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.navbar_menu a:hover{
    color: #f4ce14;
}